# OpenWeatherMap API Configuration
# Get your free key at https://openweathermap.org/
OPEN_WEATHER_MAP_KEY=your_api_key_here

# Path to the application settings file
CONFIG_FILE=settings_config.json

#DB path
DB_PATH=weather_history.db